<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <h1>The mountains are calling and I must go</h1>
    <ion-img src="/assets/arches-national-park-dark-dusk-33688.jpg"></ion-img>
  </ion-slide>
  <ion-slide>
    <h1>The mountains are calling and I must go</h1>
    <ion-img src="/assets/4k-wallpaper-conifers-desktop-wallpaper-1367192.jpg"></ion-img>
  </ion-slide>
  <ion-slide>
    <h1>The mountains are calling and I must go</h1>
    <ion-img src="/assets/arches-national-park-arizona-canyon-1672813.jpg"></ion-img>
  </ion-slide>
</ion-slides>
