<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<ion-slides pager="true" autoplay="2000" [options]="slideOpts" >
  <ion-slide>
    <div class="image1"><h1>The mountains are calling and I must go</h1>
      <h3>One of America's National Parks is waiting for your next adventure</h3></div>
  </ion-slide>
  <ion-slide>
      <div class="image2"><h1>The mountains are calling and I must go</h1>
        <h3>One of America's National Parks is waiting for your next adventure</h3></div>
  </ion-slide>
  <ion-slide>
      <div class="image3"><h1>The mountains are calling and I must go</h1>
        <h3>One of America's National Parks is waiting for your next adventure</h3></div>
  </ion-slide>
</ion-slides>
